{% extends 'base.html' %}
    
{% block container %}
    <center>
        <h1>Contact Us</h1>
    <form action="" method="post" novalidate>

        <p> General questions can be sent to <a href="mailto:someone@example.com">eastbayacademics@gmail.com</a>. The following form can also be filled out. </p>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc_W6QnK3vS1M6obzXZdfQLuhqH_tUgf-9wOKwsKHeid_7PpQ/viewform?embedded=true" width="640" height="1050" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </center>
</form>


{% endblock %}